<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org;charset=UTF-8"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Форма для нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <br><br>
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="email">емайл</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <input type="submit" value="Добавить">

</form>

</body>
</html>